
<script>
  // Flash message ko 3 second (3000ms) baad hide karna
  setTimeout(() => {
    let flash = document.getElementById("flash-msg");
    if(flash){
      flash.style.display = "none";
    }
  }, 3000);
</script>

</body>

</html>